<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-logo" do %>
      <span>LearnBetter</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" data-controller="navlink">
        <% if user_signed_in? %>
          <div class="nav-links">
            <li class="nav-item">
              <%= link_to "Learn", root_path, class: "nav-link", id: "nav-link", data: {navlink_target: "navlink"} %>
            </li>
            <li class="nav-item" >
              <%= link_to "Search", decks_path, class: "nav-link", id: "nav-link", data: {navlink_target: "navlink"} %>
            </li>
            <li class="nav-item" >
              <%= link_to "Create", new_deck_path, class: "nav-link", id: "nav-link", data: {navlink_target: "navlink"} %>
            </li>
          </div>
          <li class="nav-item dropdown">
            <div class = "avatar" data-bs-toggle="dropdown">
              <span><%= "#{current_user.first_name.upcase[0]}#{current_user.last_name.upcase[0]}" %></span>
            </div>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", "#", class: "dropdown-item" %>
              <%= link_to "Last deck", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" , id: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
