<div class="stats-card">
  <div class="deck-card-container">
    <div class="deck-card-top">
    <div class="dc-top-left">
      <h1 class="deck-title">Deck Stats</h1>
    </div>
    </div>

    <div class="deck-card-content">
    <div class="stats-num"><%= "543" %></div>
    <div class="stats-num"><%= "64%" %></div>
    <div class="stats-num"><%= "4.1â­" %></div>

    </div>

    <div class="deck-card-bottom">
      <div class="deck-cats"><%= "Total plays" %></div>
      <div class="deck-cats"><%= "Average score" %></div>
      <div class="deck-cats"><%= "Deck rating" %></div>

    </div>
  </div>
</div>
