<div class="stars-container" data-controller="star">
  <p>Rate this deck:</p>
  <i class="star star1" data-score="1" data-deck="<%= deck.id %>" data-user="<%= current_user.id %>" data-action="click->star#clicked">&#9734;</i>
  <i class="star star2" data-score="2" data-deck="<%= deck.id %>" data-user="<%= current_user.id %>" data-action="click->star#clicked">&#9734;</i>
  <i class="star star3" data-score="3" data-deck="<%= deck.id %>" data-user="<%= current_user.id %>" data-action="click->star#clicked">&#9734;</i>
  <i class="star star4" data-score="4" data-deck="<%= deck.id %>" data-user="<%= current_user.id %>" data-action="click->star#clicked">&#9734;</i>
  <i class="star star5" data-score="5" data-deck="<%= deck.id %>" data-user="<%= current_user.id %>" data-action="click->star#clicked">&#9734;</i>
</div>
