  <div class="profile-container">
      <div class="profile">

        <div class="profile-name">
          <% user = current_user %>
          <% initials = "#{user.first_name[0]}#{user.last_name[0]}" %>
          <div class="avatar"> <span><%= initials.upcase %></span> </div>
          <h1 class=""><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></h1>
        </div>

        <div class="profile-devise-content">
        <div class="profile-devise-form">
          <div class="row">
          <div class="col-6">
            <h5 class="pt-3">First Name</h5>
            <div class="profile-form-control">
              <%= current_user.first_name %>
            </div>
            </div>
            <div class="col-6">
              <h5 class="pt-3">Last Name</h5>
              <div class="profile-form-control">
                <%= current_user.last_name %>
              </div>
            </div>
            </div>
            <h5 class="pt-3">Email</h5>
            <div class="profile-form-control">
              <%= current_user.email %>
            </div>
            <div class="profile-stats-container">
              <div class="stats-header">
              </div>
              <div class="end-stats">
                <h2 class="endq">Decks played: </h2>
                <h2 class="enda"><%= @progress_logs.count %></h2>
              </div>
              <div class="end-stats">
                <h2 class="endq">Cards answered: </h2>
                <h2 class="enda"><%= @correct.count %></h2>
              </div>
              <div class="end-stats">
                <h2 class="enda">Success rate: </h2>
                <h2 class="endq"><%= "#{@correct_rate.nan? ? '-' : @correct_rate.round(0)}#{@correct_rate.nan? ? '' : '%'}" %></h2>
              </div>
            </div>
            <div class="main-btn profile-button">
              <%= link_to "Update your profile", edit_user_registration_path %>
            </div>

          </div>

          <div class="profile-end-wrong-ans-container">
            <div class="profile-title">
              <h1>Your Decks:</h1>
            </div>
            <div class="profile-card-scroll">
              <% @decks.each do |deck| %>
                <%= link_to deck_path(deck) do %>
                  <%= render 'shared/deck_card', deck: deck %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
  </div>
