<div class="play-container">
  <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-ride="carousel" >
    <div class="container" data-controller="flip-button">
      <div class="row">
        <div class="col-12">
          <div class="carousel-inner">
            <% @cards.each_with_index do |card, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %> <%= index == @cards.length-1 ? 'end' : '' %>">
                <div class="scene scene--card">
                  <div id="flipCard<%= card.id %>" class="flash-card" data-flip-button-target="card">
                    <div class="card__face card__face--front">
                      <div class="fc-content">
                        <h2 class="fc-header"> <%= @deck.name %></h2>
                        <p class="fc-qa"><%= "Q.#{card.question}" %></p>
                        <div class="fc-bottom">
                          <div class="flip-image" data-action="click->flip-button#flip"><%= image_tag "flip.svg" %></div>
                          <div class="counter">
                          <%= "#{index+1}/#{@deck.cards.count}" %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card__face card__face--back">
                      <div class="fc-content">
                        <h2 class="fc-header"> <%= @deck.name %></h2>
                        <p class="fc-qa"><%= "A.#{card.answer}" %></p>
                        <div class="fc-bottom">
                        <% progress_log_details = ProgressLogDetail.find_by(progress_log_id: @progress_log.id, card_id: card.id) %>
                          <div class="incorrect" data-controller="progress" data-progress-incorrect-value="false" data-progress-details-value="<%= progress_log_details.id %>" data-progress-cards-value="<%= @cards %>" data-progress-deck-value="<%= @deck.id %>" data-progress-log-value="<%= @progress_log.id %>" data-action="click->progress#incorrect">
                            <p class="dont-before">Don't Know</p>
                            <p class="dont-after hidden">&#10004;</p>
                          </div>
                          <div class="correct" data-controller="progress" data-progress-correct-value="true"  data-progress-details-value="<%= progress_log_details.id %>" data-progress-cards-value="<%= @cards %>" data-progress-deck-value="<%= @deck.id %>" data-progress-log-value="<%= @progress_log.id %>" data-action="click->progress#correct">
                            <p class="know-before">Know it!</p>
                            <p class="know-after hidden">&#10004;</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-6 text-center">
          <button class="main-btn"
                  data-action="click->flip-button#flip">Flip Card</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button class="carousel-control-prev control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span>Previous Card</span>
          </button>
          <button class="carousel-control-next control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next" data-action="click->end-play#endplay">
            <span>Next Card</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="finish hidden">
    <%= link_to "end", progress_log_path(@progress_log), class: "main-btn", id: "main-btn-deck" %>
  </div>
</div>
