<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" data-ride="carousel"  >
  <div class="container" data-controller="flip-button">
    <div class="row">
      <div class="col-12">
        <div class="carousel-inner">
          <% @cards.each_with_index do |card, index| %>
            <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
              <div class="scene scene--card" data-controller="progress" data-progress-card-value="<%= card.id %>" data-progress-log-value="<%= @progress_log.id %>">
                <div id="flipCard<%= card.id %>" class="flash-card" data-flip-button-target="card">
                  <div class="card__face card__face--front">
                    <div class="fc-content">
                      <h2 class="fc-header"> <%= @deck.name %></h2>
                      <p class="fc-qa"><%= "Q.#{card.question}" %></p>
                      <div class="fc-bottom">
                        <div class="flip-image"><%= image_tag "flip.svg" %></div>
                        <div class="counter">
                        <%= "#{index+1}/#{@deck.cards.count}" %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card__face card__face--back">
                    <div class="fc-content">
                      <h2 class="fc-header"> <%= @progress_log.id %></h2>
                      <p class="fc-qa"><%= "A.#{card.answer}" %></p>
                      <div class="fc-bottom">
                        <div class="incorrect" data-controller="progress" data-progress-incorrect-value="false" data-action="click->progress#incorrect">
                          <p>Don't Know</p>
                        </div>
                        <div class="correct">
                          <p>Know it!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 text-center">
        <button class="main-btn"
                data-action="click->flip-button#flip">Flip Card</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="carousel-control-prev control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span>Previous Card</span>
        </button>
        <button class="carousel-control-next control" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span>Next Card</span>
        </button>
      </div>
    </div>
  </div>
</div>
