<div class="new-container">
  <div class="new-header">
    <h1>Edit <%= @deck.name %></h1>
  </div>
  <div class="form-container">
    <%= simple_form_for [ @deck ], url: deck_path(@deck), method: :patch, local: true do |f| %>
      <div class="fields-container">
        <div class="deck-details">
          <%= f.input :name, as: :string, :input_html => { :id => 'detail-inputs' } %>
          <%= f.input :description, as: :text, :input_html => { :id => 'detail-inputs' } %>
          <%= f.input :subject, collection: ['science', 'history', 'maths'], :input_html => { :id => 'detail-inputs' } %>
          <%= f.input :topic, collection: ['biology', 'chemistry', 'physics'], :input_html => { :id => 'detail-inputs' }  %>
          <%= f.input :level, collection: ['ks1', 'ks2', 'gcse'], :input_html => { :id => 'detail-inputs' }  %>
        </div>
        <div class="new-cards">
          <fieldset>
          <legend>Add cards to your deck</legend>
          <%= f.simple_fields_for :cards do |cards_form| %>
            <% render "card_fields", f: cards_form, :input_html => { :id => 'card-inputs' } %>
          <% end %>
          <%= link_to_add_fields "+", f, :cards %>
          </fieldset>
        </div>
      </div>
      <div class="main-btn new-deck-btn"><%= f.button :submit %></div>
    <% end %>
  </div>
</div>
