<div class="index-container" data-controller="search-decks">
  <div class="decks-banner">
      <h1>Can't find what you're looking for?</h2>
      <div class="decks-line">
        <svg viewBox="0 0 1015 103" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d_44_591)">
        <path d="M104.5 60.5L104.787 61.4578L104.5 60.5ZM247 79L247.36 78.0669L247 79ZM486.217 29L486.666 28.1065L486.217 29ZM764 79L764.124 78.0077L764 79ZM1011 37.5L1002.48 29.7075L999.991 40.9833L1011 37.5ZM4.74379 68.9666C46.555 80.0491 85.2545 67.3177 104.787 61.4578L104.213 59.5422C84.6151 65.4214 46.445 77.9509 5.25621 67.0334L4.74379 68.9666ZM104.787 61.4578C124.885 55.4286 156.842 40.6378 177.909 27.3457C183.18 24.0197 187.791 20.7743 191.373 17.7701C194.928 14.789 197.569 11.9647 198.775 9.46617C199.385 8.20471 199.675 6.93037 199.432 5.71959C199.183 4.47881 198.407 3.47031 197.218 2.70279C194.926 1.22317 190.889 0.5 185 0.5L185 2.5C190.861 2.5 194.371 3.24558 196.133 4.38315C196.972 4.92422 197.35 5.51142 197.471 6.11342C197.598 6.74541 197.475 7.56091 196.975 8.59633C195.963 10.6915 193.604 13.2891 190.088 16.2377C186.6 19.1632 182.07 22.3553 176.841 25.6543C155.908 38.8621 124.115 53.5714 104.213 59.5422L104.787 61.4578ZM185 0.5C176.077 0.5 169.5 1.42398 164.958 3.13553C160.403 4.85214 157.739 7.4309 157.007 10.7953C156.292 14.0862 157.504 17.8108 159.911 21.6725C162.334 25.5601 166.069 29.7498 170.695 34.0453C189.181 51.2114 222.548 70.6473 246.64 79.9331L247.36 78.0669C223.452 68.8527 190.319 49.5386 172.055 32.5797C167.494 28.3439 163.9 24.2915 161.608 20.6146C159.301 16.9118 158.412 13.7497 158.962 11.2203C159.496 8.76441 161.465 6.58927 165.663 5.00705C169.875 3.41977 176.173 2.5 185 2.5L185 0.5ZM246.64 79.9331C277.265 91.7363 324.603 96.3683 356.976 93.4234C365.078 92.6863 372.278 91.4719 378.066 89.7615C383.818 88.0615 388.318 85.8311 390.863 82.9648C392.153 81.5117 392.959 79.8729 393.138 78.056C393.316 76.243 392.859 74.3504 391.793 72.4011C389.683 68.5411 385.103 64.3047 377.752 59.6548L376.683 61.3451C383.956 65.9453 388.179 69.9581 390.038 73.3604C390.958 75.0422 391.277 76.5341 391.147 77.8606C391.017 79.1831 390.431 80.4389 389.367 81.637C387.204 84.0734 383.153 86.1727 377.499 87.8435C371.88 89.5041 364.819 90.7016 356.794 91.4316C324.659 94.355 277.639 89.7371 247.36 78.0669L246.64 79.9331ZM377.752 59.6548C370.5 55.0682 366.015 50.7806 363.722 46.8881C361.458 43.0433 361.337 39.605 362.78 36.5257C364.253 33.3793 367.428 30.4613 372.055 27.8971C376.666 25.3418 382.62 23.1931 389.495 21.5346C403.243 18.2182 420.538 16.8943 437.805 18.1147C455.077 19.3355 472.245 23.0968 485.768 29.8935L486.666 28.1065C472.831 21.1532 455.382 17.352 437.946 16.1197C420.505 14.8869 403.001 16.2192 389.026 19.5904C382.04 21.2757 375.902 23.4785 371.085 26.1478C366.285 28.8082 362.697 31.9879 360.969 35.6774C359.209 39.434 359.447 43.5699 361.999 47.9029C364.522 52.1881 369.309 56.6818 376.683 61.3451L377.752 59.6548ZM485.768 29.8935C509.463 41.8024 538.158 45.9993 566.323 45.6346C594.497 45.2698 622.217 40.3396 644.018 33.9263C654.918 30.7197 664.358 27.1364 671.648 23.556C678.887 20 684.157 16.3748 686.538 13.0194C687.741 11.3229 688.317 9.533 687.799 7.80011C687.288 6.08766 685.798 4.74503 683.611 3.71478C679.251 1.6607 671.386 0.5 659.5 0.5V2.5C671.364 2.5 678.834 3.67509 682.759 5.52408C684.715 6.44538 685.606 7.44611 685.883 8.37278C686.154 9.27901 685.927 10.424 684.907 11.8621C682.839 14.7758 677.977 18.2186 670.766 21.7609C663.604 25.2787 654.275 28.8239 643.453 32.0076C621.809 38.3749 594.27 43.2726 566.297 43.6348C538.315 43.9971 509.973 39.8202 486.666 28.1065L485.768 29.8935ZM659.5 0.5C643.097 0.5 631.172 1.56293 623.034 3.46672C618.966 4.41847 615.795 5.59124 613.473 6.97973C611.149 8.36877 609.604 10.0182 608.931 11.9433C608.252 13.8838 608.52 15.9322 609.475 17.9836C610.424 20.0207 612.072 22.1141 614.261 24.2348C618.641 28.4777 625.364 33.0008 633.642 37.5633C666.751 55.8108 725.748 75.2263 763.876 79.9923L764.124 78.0077C726.252 73.2738 667.499 53.9392 634.608 35.8117C626.386 31.2805 619.844 26.8583 615.653 22.7984C613.557 20.7677 612.094 18.8704 611.288 17.1392C610.488 15.4223 610.357 13.9248 610.819 12.6035C611.286 11.267 612.421 9.93885 614.499 8.6963C616.578 7.4532 619.53 6.34033 623.49 5.41414C631.406 3.56207 643.153 2.5 659.5 2.5V0.5ZM763.876 79.9923C811.969 86.0039 842.998 82.7599 865.176 75.7662C887.354 68.7726 900.615 58.04 913.073 49.3192L911.927 47.6808C899.385 56.46 886.396 66.9774 864.574 73.8588C842.752 80.7401 812.031 83.9961 764.124 78.0077L763.876 79.9923ZM913.073 49.3192C935.635 33.5259 970.329 30.4608 1002.02 36.5431L1002.4 34.5789C970.434 28.4445 935.109 31.4529 911.927 47.6808L913.073 49.3192Z" fill="black"/>
        </g>
        <defs>
        <filter id="filter0_d_44_591" x="0.743774" y="0.5" width="1014.26" height="101.785" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="2"/>
        <feComposite in2="hardAlpha" operator="out"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_44_591"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_44_591" result="shape"/>
        </filter>
        </defs>
        </svg>
      </div>
      <div class="decks-btn">
        <%= link_to "Create Deck", new_deck_path, class: "main-btn", id: "main-btn-deck" %>
      </div>
    </div>
  <div class="search-section">
    <div class="search">
      <%= image_tag "spy.svg" %>
      <%= form_tag decks_path, method: :get, data: { search_decks_target: 'form' } do %>
        <%= text_field_tag :query,
          params[:query],
          class: "search-input",
          placeholder: "Find a flashcard deck",
          data: {
            search_decks_target: 'input',
            action: 'keyup->search-decks#update' }
        %>
        <%= submit_tag "Search", class: "btn-main", style: "display: none;"%>
      <% end %>
    </div>
      <div class="filters">
        <div class="subject"></div>
        <div class="topic"></div>
        <div class="level"></div>
      </div>
  </div>

  <%= render 'shared/deck_cards', decks: @decks %>
</div>
