<div class="container">
<h1>Create a new deck:</h1>
<div class="row">
<%= simple_form_for [ @deck ] do |f| %>
  <%= f.input :name, as: :string %>
  <%= f.input :description, as: :string %>
  <%= f.input :subject, collection: ['science', 'history', 'maths']  %>
  <%= f.input :topic, collection: ['biology', 'chemistry', 'physics']  %>
  <%= f.input :level, collection: ['ks1', 'ks2', 'gcse']  %>
  <fieldset>
  <legend>Cards:</legend>
  <%= f.simple_fields_for :cards do |cards_form| %>
    <% render "card_fields", f: cards_form %>
  <% end %>
  <%= link_to_add_fields "Add Cards", f, :cards %>
  </fieldset>

  <%= f.button :submit %>
<% end %>
</div>
