<div class="container pt-3">
<h1>Create a new deck:</h1>
<div class="row">
<div class="col-6">
<%= simple_form_for [ @deck ] do |f| %>
<legend>Deck details:</legend>
  <%= f.input :name, as: :string %>
  <%= f.input :description, as: :string %>
  <%= f.input :subject, collection: ['science', 'history', 'maths']  %>
  <%= f.input :topic, collection: ['biology', 'chemistry', 'physics']  %>
  <%= f.input :level, collection: ['ks1', 'ks2', 'gcse']  %>
  <div class="btn btn-primary"><%= f.button :submit %></div>
</div>
 <div class="col-6">
   <fieldset>
   <legend>Cards:</legend>
   <%= f.simple_fields_for :cards do |cards_form| %>
     <% render "card_fields", f: cards_form %>
   <% end %>
   <%= link_to_add_fields "Add Cards", f, :cards %>
   </fieldset>


 <% end %>
</div>

</div>
