<div class=container>
<h1><%= @deck.name %></h1>
<h3><%= @deck.description %></h3>
<h3>Q:<%= @deck.cards[0].question %>?</h3>
<h3>Q:<%= @deck.cards[1].question %>?</h3>
<h3>Q:<%= @deck.cards[2].question %>?</h3>
<%= link_to "Play Deck", deck_cards_path(@deck) %>
<button>Share Deck</button>
<%= link_to "Edit Deck", edit_deck_path(@deck) %>
</div>
